@import '../../../styles';

.header {
    height: 120px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    font-size: 1.2em;
   
    background-image: url('../../../assets/image/background-header-large.jpg');
    color: aliceblue;
  
    &__title{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      vertical-align: middle;
    }
  
    &__navigation{
      display: inline-flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 1.2em;
    }
  
    &__buttons {
      display: inline-flex;
      align-items: center;
    }
  
  }
  
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  
  .estiloIcon {
    cursor: pointer;
    margin-right: 15px;
    // color: black;
  }
  
  .estiloIcon:hover {
    color: $primary;
  }
  
  .app-a {
    margin-left: 1em;
    margin-right: 0;;
  }

  @media only screen and (max-width:600px){
    .header__navigation{
        display: none;
    }
    
  }
  .app-a_active{
    text-decoration: underline;
  }

  a{
    color: aliceblue;
  }