// colores base 

//estilos y fuentes por defecto de la pagina
$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#ce2929;

//color primario de mi compañia
$primary:#46c52d;
$primary-dark:#12005e;
$primary-light:#7c42bd;
$on-primary:#ffffff;
//colores secudarios
$secondary:#e040fb;
$secondary-dark:#aa00c7;
$secondary-light:#ff79ff;
$on-secondary:#ffffff;

//mensajes de error:
$error:#b00020;
$on-error:#ffffff;

//exitoso
$success: #99aa00;
$on-success:#ffffff;


