<mat-sidenav-container>

  <mat-sidenav #menu role="navigation">
    <app-menu-list (menuToggle)="menu.close()"></app-menu-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuClicked)="menu.toggle()"></app-header>

    <main>
      <router-outlet></router-outlet>
    </main>

    <div class="borrar">
      <h1 style="color: coral;">Bienvenida!</h1>
      <h2 style="color: coral;">Mi página está en construcción</h2>
      <h2 style="color: coral;">pero puedes llamarme o clic al</h2>
      <h2 style="color: coral;">número de whatsapp para coordinar.</h2>
      <br>
      <h1> Whatsapp: <br><a style="color: aquamarine;" href="https://wa.me/56975107693" target="_blank">+569 7510
          7693</a>
      </h1>
      <h1> Dirección:</h1>
      <h2> Edificio Puente Quinta, Departamento 408, 1 Norte 525</h2>
      <h3> Mira mis fotitos en instagram katavo_peluqueria</h3>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>