mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
    margin-top: 1px;
    background-color: rgb(70, 86, 177);
}

mat-sidenav {
    width: 200px;
}

.fin{
    height: 50px;
    position: relative;
}
