.titulo {
    grid-area: titulo;
}
.nombre {
    grid-area: nombre;
}
.telefono {
    grid-area: telefono;
}
.email {
    grid-area: email;
}
.mensaje {
    grid-area: mensaje;
}
.enviar {
    grid-area: enviar;
}
.textarea {
    grid-area: textarea;
}
.input1 {
    grid-area: input1;
}
.input2 {
    grid-area: input2;
}
.input3 {
    grid-area: input3;
}
.errorMail{
    grid-area: errorMail;
}

.container {
    display: grid;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    grid-template-areas:
        "titulo"
        "formulario";
    gap: 10px;
    border-bottom: 50px;
}
.formulario {
    display: grid;
    grid-template-areas:
        "nombre input1 input1 "
        "telefono input2 input2 "
        "email input3 input3 "
        "mensaje textarea textarea "
        "mensaje enviar enviar ";
    gap: 10px;
}

div {
    font-family: "Arial Rounded MT Bold","Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana,
        sans-serif;
    font-size: 12px;
}

input:focus,
.textarea:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #719ece;
}
.titulo{
    padding-top: 20px;
}

.tituloFinal{
    margin-bottom: 290px;
}

@media screen and (max-width:600px) {
    .tituloFinal{
        margin-bottom: 200px;
    }
    
}