@import "src/styles/colors.scss";


.example-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div {
    padding-top: 20px;
    /* background-color: rgb(192, 192, 192); */
}

.my-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;

}

.my-card {
    width: 400px;

    display: block;
    margin: auto auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(247, 247, 247);
    text-align: center;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid rgb(105, 105, 105);
}

.error {
    color: rgb(194, 37, 37);

    size: 10px;
    font-size: 90%;
}

.campos {
   
    height: 30px;
}

input:hover{
    cursor:auto;
}

button {
    padding: 8px 20px;
    background: transparent;
    border-radius: 8px;
    border: 2px solid $secondary-light;
    transition: 0.25s;
    margin: 0 4px;

    &:hover,
    &:focus {
        background: $secondary-light;
        border: 2px solid $secondary-light;
        color: $on-secondary;
    }
}