<mat-nav-list color="primary">

    <a mat-list-item routerLink="/" (click)="closeMenu()">
      <mat-icon>home</mat-icon>
      <span class="navegation-list-label">HOME</span>
    </a>
  
    <a mat-list-item routerLink="/signin" (click)="closeMenu()">
      <mat-icon>login</mat-icon>
      <span class="navegation-list-label">Inicio Sesion</span>
    </a>  
  
    <a mat-list-item routerLink="/signup" (click)="closeMenu()">
      <mat-icon>how_to_register</mat-icon>
      <span class="navegation-list-label">Registrar</span>
    </a>
  
    <a mat-list-item routerLink="/shop" (click)="closeMenu()">
      <mat-icon>interests</mat-icon>
      <span class="navegation-list-label">SERVICIOS</span>
    </a>
  
    <a mat-list-item routerLink="/contacto" (click)="closeMenu()">
      <mat-icon>edit_calendar</mat-icon>
      <span class="navegation-list-label">RESERVAS</span>
    </a>
    <a mat-list-item routerLink="/contacto" (click)="closeMenu()">
      <mat-icon>perm_phone_msg</mat-icon>
      <span class="navegation-list-label">CONTACTO</span>
    </a>
    <a mat-list-item routerLink="/contacto" (click)="closeMenu()">
      <mat-icon>auto_awesome</mat-icon>
      <span class="navegation-list-label">GALERIA</span>
    </a>
  
  </mat-nav-list>