<mat-nav-list color="primary">

  <a mat-list-item routerLink="/" (click)="closeMenu()">
    <mat-icon>home</mat-icon>
    <span class="navegation-list-label">HOME</span>
  </a>


  <a>
    <div *ngIf="!isLogged; else loggedIn">
      <a mat-list-item (click)="openDialog()">
        <mat-icon>login</mat-icon>
        <span class="navegation-list-label" >MI SESIÓN</span>
      </a>
    </div>

    <ng-template #loggedIn>
      <a mat-list-item routerLink="/perfil">
        <mat-icon>person</mat-icon>
        <span  class="navegation-list-label" style="padding-top: 10px;">{{pEmail}}</span>
      </a>
      <a mat-list-item (click)="listClose()">
        <mat-icon>logout</mat-icon>
        <span class="navegation-list-label" >Cerrar Sesion</span>
      </a>
    </ng-template>

  </a>



  <a mat-list-item routerLink="/shop" (click)="closeMenu()">
    <mat-icon>interests</mat-icon>
    <span class="navegation-list-label">SERVICIOS</span>
  </a>

  <a mat-list-item routerLink="/" (click)="closeMenu()">
    <mat-icon>edit_calendar</mat-icon>
    <span class="navegation-list-label">RESERVAS</span>
  </a>
  <a mat-list-item routerLink="/contacto" (click)="closeMenu()">
    <mat-icon>perm_phone_msg</mat-icon>
    <span class="navegation-list-label">CONTACTO</span>
  </a>
  <a mat-list-item routerLink="/galeria" (click)="closeMenu()">
    <mat-icon>auto_awesome</mat-icon>
    <span class="navegation-list-label">GALERIA</span>
  </a>

</mat-nav-list>